@{
  Layout = "_Layout";
}

<div class="container-content label">
  <h3>@Model["stylist"].GetName() was hired on @Model["stylist"].GetHireDate().ToShortDateString()</h3>

  @if (@Model["clients"].Count == 0)
  {
    <h3>This stylist does not yet have any clients.</h3>
  }
  else
  {
    <h3>This Stylist has the Following Clients:</h3>
    <table>
      <tr class="table-header">
        <th>Client Name</th>
        <th>Gender</th>
      </tr>
      @foreach (var client in @Model["clients"])
      {
        <tr class="table-row">
          <td><a class="link" href="/stylists/@Model["stylist"].GetId()/clients/@client.GetId()">@client.GetName()</a></td>
          <td>@client.GetGender()</td>
        </tr>
      }
    </table>
  }
  <br>
  <p><a class="link" href='/clients/new'>Add a New Client</a></p>
  <p><a class="link" href='/stylists'>Return to Our Stylists</a></p>
  <p><a class="link" href='/'>Return to the Salon Foyer</a></p>
</div>
