@{
  Layout = "_Layout";
}

<div class="container-content label">
  <h1>@Model["specialty"].GetSpecialty()</h1>

  @if (@Model["stylists"].Count == 0)
  {
    <h3>None of our Stylists are currently a/an @Model["specialty"].GetSpecialty().</h3>
  }
  else
  {
    <h3>These Stylists are a/an @Model["specialty"].GetSpecialty():</h3>
    <table>
      <tr class="table-header">
        <th>Stylist Name</th>
      </tr>
      @foreach (var stylist in @Model["stylists"])
      {
        <tr class="table-row">
          <td><a class="link" href="/specialtys/@Model["specialty"].GetId()/stylists/@stylist.GetId()">@stylist.GetName()</a></td>
        </tr>
      }
    </table>
  }
  <h3>Add this Specialty to a Stylist</h3>
  <form action='/specialties/@Model["specialty"].GetId()/stylists/new' method='post'>
    <label for='stylelistId' >Select a Stylist</label>
    <select id='stylelistId' name='stylelistId' type='text'>
    @foreach (var stylist in @Model["allStylists"])
    {
      <option value='@stylist.GetId()'>@stylist.GetName()</option>
    }
    </select>
    <button type='submit'>Add Stylist</button>
  </form>
  <br>
  <p><a class="link" href='/specialties/@Model["specialty"].GetId()/edit'>Update This Specialty</a></p>
  <p><a class="link" href='/specialties/@Model["specialty"].GetId()/delete'>Delete this Specialty</a></p>
  <p><a class="link" href='/specialties'>Return to Our Specialties</a></p>
  <p><a class="link" href='/'>Return to the Salon Foyer</a></p>
</div>
